
W8List-C.xcodeproj/project.xcworkspace/contents.xcworkspacedata

W8List-C.xcodeproj/project.pbxproj

W8List-C.xcodeproj/project.xcworkspace/xcuserdata/Matt.xcuserdatad/UserInterfaceState.xcuserstate

W8List-C.xcodeproj/xcuserdata/Matt.xcuserdatad/xcschemes/W8List-C.xcscheme

W8List-C.xcodeproj/xcuserdata/Matt.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcbkptlist

*.xcuserstate

*.pbxproj
